p{
	
	/* comments in css 
	font weight you can use normal, bold, etc. but you can also use integers to specify i.e. 400 = normal and 700 = semibold */
	color: red;
	font-family: arial;
	font-weight: normal;

	
}